{% extends "layout/apycenter.html" %}

    {% block content %}

<div class="am-modal am-modal-alert" tabindex="-1" id="set-filed">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">自定义字段</div>
    <div class="am-modal-bd">
     
     <div class="am-g am-text-left">

      <div class="am-u-sm-4" style="margin-left:6%" >
        
                <label class="am-checkbox">
                  <input type="checkbox" value="id" class="filed" commet="序号" data-am-ucheck name="checkfield"> 序号
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deploy_sys" class="filed" commet="发布系统" data-am-ucheck name="checkfield"> 发布系统
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deploy_key" class="filed" commet="发布关键词" data-am-ucheck name="checkfield"> 发布关键词
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deploy_version" class="filed" commet="发布版本" data-am-ucheck name="checkfield"> 发布版本
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deploy_people" class="filed" commet="发布人" data-am-ucheck name="checkfield"> 发布人
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deploy_ip" class="filed" commet="内网IP地址" data-am-ucheck name="checkfield"> 内网IP地址
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deploy_content" class="filed" commet="发布内容" data-am-ucheck name="checkfield"> 发布内容
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deloy_prodir_before" class="filed" commet="发布前工程目录" data-am-ucheck name="checkfield"> 发布前工程目录
                </label>
                   
      </div>

      <div class="am-u-sm-3" >
        
                <label class="am-checkbox">
                  <input type="checkbox" value="deloy_configdir_before" class="filed" commet="发布前配置目录" data-am-ucheck name="checkfield"> 发布前配置目录
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deloy_prodir_after" class="filed" commet="发布后工程目录" data-am-ucheck name="checkfield"> 发布后工程目录
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deloy_configdir_after" class="filed" commet="发布后配置目录" data-am-ucheck name="checkfield"> 发布后配置目录
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deloy_size" class="filed" commet="" data-am-ucheck name="checkfield"> 
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="deploy_take" class="filed" commet="发布花费时间" data-am-ucheck name="checkfield"> 发布花费时间
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="start_time" class="filed" commet="发布开始时间" data-am-ucheck name="checkfield"> 发布开始时间
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="rsync_war_time" class="filed" commet="传包完成时间" data-am-ucheck name="checkfield"> 传包完成时间
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="start_app_time" class="filed" commet="应用开始启动时间" data-am-ucheck name="checkfield"> 应用开始启动时间
                </label>
                    
      </div>  

      <div class="am-u-sm-3" >
        
                <label class="am-checkbox">
                  <input type="checkbox" value="end_time" class="filed" commet="发布结束时间" data-am-ucheck name="checkfield"> 发布结束时间
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="randomStr" class="filed" commet="随机字符串" data-am-ucheck name="checkfield"> 随机字符串
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="rollRecord" class="filed" commet="是否是回滚的记录" data-am-ucheck name="checkfield"> 是否是回滚的记录
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="rollStatus" class="filed" commet="回滚状态" data-am-ucheck name="checkfield"> 回滚状态
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="rollbackNumber" class="filed" commet="回滚次数" data-am-ucheck name="checkfield"> 回滚次数
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="processNumber" class="filed" commet="进程数量" data-am-ucheck name="checkfield"> 进程数量
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="status" class="filed" commet="发布状态" data-am-ucheck name="checkfield"> 发布状态
                </label>
                

                <label class="am-checkbox">
                  <input type="checkbox" value="note" class="filed" commet="备注" data-am-ucheck name="checkfield"> 备注
                </label>
                

                    <label class="am-checkbox">
                      <input type="checkbox" value="deloy_prodir_real_before" class="filed" commet="" data-am-ucheck name="checkfield"> 
                    </label>
                    
      </div>


    </div>


  </div>
  <div class="am-modal-footer">
    <span class="am-modal-btn" id="set-filed-sure">确定</span>
    <span class="am-modal-btn">取消</span>
  </div>
</div>
</div>


    <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
      <div class="am-modal-dialog">
        <div class="am-modal-hd">提示</div>
        <div class="am-modal-bd">
           确定要删除选中的记录？
      </div>
      <div class="am-modal-footer">
          <span class="am-modal-btn" data-am-modal-cancel>取消</span>
          <span class="am-modal-btn" data-am-modal-confirm>确定</span>
      </div>
    </div>
    </div>


            <div class="tpl-content-wrapper">
                <div class="row-content am-cf">
                    <div class="row">
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <div class="widget am-cf">


                                        <div style="margin-top:20px;margin-bottom:12px;">
                                          <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs am-u-sm-12 am-u-md-12 am-u-lg-12">
                                              
                                              <span style="float:left;display:inline;margin-right:30px" class="am-icon-hand-o-right"> 发布统计 </span>
                                              <div class="am-form-group tpl-table-list-select" style="display:inline;">
                                              <select data-am-selected="{btnWidth: '90px', btnSize: 'sm'}" id="js-selected-yewu">
                                                <option value="zzb">掌中保</option>
                                                <option value="czhan">意健险</option>
                                              </select>
                                              </div>
                                              
                                              <button type="button" class="am-btn am-btn-default am-btn-xs choice-env-com "  style="background:white;height:32px;" ><a href="javascript:;">生产环境</a></button>
                                              <button type="button" class="am-btn am-btn-default am-btn-xs choice-env-zzb "  style="background:white;height:32px;" ><a href="javascript:;">准生产环境</a></button>
                                              <button type="button" class="am-btn am-btn-default am-btn-xs choice-env-test "  style="background:white;height:32px;" ><a href="javascript:;">测试环境</a></button>
                                              <button type="button" class="am-btn am-btn-default am-btn-xs choice-env-dev "  style="background:white;height:32px;" ><a href="javascript:;">开发环境</a></button>
                                              

                                            </div>
                                          </div>
                                        </div>
                                      


                                <div class="widget-body  am-fr" id="background">

                                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                        <div class="am-form-group">
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button type="button" class="am-btn am-btn-default am-btn-success" id="host-create" ><span class="am-icon-plus"></span> 新增</button>
                                                    <button type="button" id="delete" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-upload"></span> 导入 </button>
                                                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-download"></span> 导出 </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                            <input type="text" class="am-form-field am-input-sm" id="searchval" placeholder="搜索" value= 
                                              {% if data.search != False  %}
                                              {{ data.search }}
                                              {% endif %}
                                              >
                                            <span class="am-input-group-btn">
                                                <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" id="searchbtn" type="button"></button>
                                            </span>
                                            <span class="am-input-group-btn">
                                                <button class="am-btn  am-btn-default am-btn-secondary tpl-table-list-field am-icon-cog" type="button" style="margin-left:5px" id="set-fileds"></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="am-u-sm-12 am-scrollable-horizontal">
                                        <input type="hidden" id="limit" value="{{ data.limit }}">
                                        <input type="hidden" id="pages" value="{{ data.pages }}">
                                        <input type="hidden" id="search" value="{{ data.search }}">
                                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                            <thead>
                                                <tr>
                                                <th>
                                                    <label class="am-checkbox">
                                                      <input type="checkbox" id="SelectAll" value="" data-am-ucheck class="checkbox"> 
                                                    </label>
                                                </th>
                                                    
                                       {% if  session.has_key('pre_deploy_manage_com_fields')  %}
                                              {% for th_title in session['pre_deploy_manage_com_filedcns'] %}
                                                      <th class="am-text-middle th-title" >{{th_title}}</th>
                                              {% endfor %}
                                        {% else %}
                                            
                                                    <th class="am-text-middle th-title" >发布关键词</th>

                                                    <th class="am-text-middle th-title" >发布版本</th>

                                                    <th class="am-text-middle th-title" >内网IP地址</th>

                                                    <th class="am-text-middle th-title" width="150px">发布花费时间</th>

                                                    <th class="am-text-middle th-title" >发布开始时间</th>

                                                    <th class="am-text-middle th-title" >进程数量</th>
                                        {% endif %}
    
                                                    <th class="am-text-middle">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                  
                                           {% if  session.has_key('pre_deploy_manage_com_fields')  %}
                                                  {% for item in data['pre_deploy_manage_com'] %}
                                                  <tr class="even gradeC">
                                                      <td class="am-text-middle">
                                                          <label class="am-checkbox">
                                                            <input type="checkbox"  name="checkbox" value="{{ item.id }}" data-am-ucheck class="checkbox"> 
                                                          </label>
                                                      </td>

                                                      
                                                     {% if  'id' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.id or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deploy_sys' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deploy_sys or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deploy_key' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deploy_key or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deploy_version' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deploy_version or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deploy_people' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deploy_people or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deploy_ip' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deploy_ip or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deploy_content' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deploy_content or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deloy_prodir_before' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deloy_prodir_before or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deloy_configdir_before' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deloy_configdir_before or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deloy_prodir_after' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deloy_prodir_after or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deloy_configdir_after' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deloy_configdir_after or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deloy_size' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deloy_size or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deploy_take' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deploy_take or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'start_time' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.start_time or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'rsync_war_time' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.rsync_war_time or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'start_app_time' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.start_app_time or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'end_time' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.end_time or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'randomStr' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.randomStr or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'rollRecord' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.rollRecord or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'rollStatus' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.rollStatus or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'rollbackNumber' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.rollbackNumber or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'processNumber' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.processNumber or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'status' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.status or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'note' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.note or "" }}</td>
                                                     {% endif %}           
            

                                                     {% if  'deloy_prodir_real_before' in  session['pre_deploy_manage_com_fields']  %}
                                                      <td class="am-text-middle">{{ item.deloy_prodir_real_before or "" }}</td>
                                                     {% endif %}           
            

                                                      <td class="am-text-middle">
                                                          <div class="tpl-table-black-operation">
                                                              <a href="project_edit?id={{ item.id }}">
                                                                  <i class="am-icon-pencil"></i> 编辑
                                                              </a>
                                                              <a href="javascript:;" class="tpl-table-black-operation-del delete-one" dename="{{ item.name or '' }}" value="{{ item.id }}">
                                                                  <i class="am-icon-trash" ></i> 删除
                                                              </a>
                                                          </div>
                                                      </td>
                                                  </tr>
                                                  {% endfor %}
                                           {% else %}
                                                 

                                                {% for item in data['pre_deploy_manage_com'] %}
                                                <tr class="even gradeC">
                                                    <td class="am-text-middle">
                                                        <label class="am-checkbox">
                                                          <input type="checkbox"  name="checkbox" value="{{ item.id }}" data-am-ucheck class="checkbox"> 
                                                        </label>
                                                    </td>

                                                    
                                                    <td class="am-text-middle">{{ item.deploy_key or "" }}</td>

                                                    <td class="am-text-middle">{{ item.deploy_version or "" }}</td>

                                                    <td class="am-text-middle">{{ item.deploy_ip or "" }}</td>

                                                    <td class="am-text-middle">{{ item.deploy_take or "" }}</td>

                                                    <td class="am-text-middle">{{ item.start_time or "" }}</td>

                                                    <td class="am-text-middle">{{ item.processNumber or "" }}</td>

                                                    <td class="am-text-middle">
                                                        <div class="tpl-table-black-operation">
                                                            <a href="pre_deploy_manage_com_edit?id={{ item.id }}">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                            <a href="javascript:;" class="tpl-table-black-operation-del delete-one" dename="{{ item.id or '' }}" value="{{ item.id }}">
                                                                <i class="am-icon-trash" ></i> 删除
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
    
                                           {% endif %}

    

                                                <!-- more data -->
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="am-u-lg-12 am-cf">

                                        <div class="am-fl changebackground">
                                            <ul class="am-pagination tpl-pagination changebackground">
                                                <li class="changebackground" ><a  href="javascript:;" class="have_choice changebackground">已选0项</a></li>
                                                <li class="changebackground"><a  class="changebackground" href="javascript:;" >共{{ data.count }}项</a></li>
                                          </ul>
                                      </div>

                                        <div class="am-fr" id="testcenter">
                                            <ul class="am-pagination tpl-pagination">
                                                <li ><a href="javascript:;" class="first_page"><i class="am-icon-step-backward"></i></a></li>
                                                <li ><a href="javascript:;" class="pre_page"><i class="am-icon-arrow-left"></i></a></li>

                                                <div class="am-btn-group">
                                                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                                        <div  class="am-form-group tpl-table-list-select" >
                                                            <select id="js-selected" data-am-selected="{btnWidth: '60px', btnSize: 'sm',dropUp: 1}">
                                                              {% for page in range(1,data['pages'],1) %}
                                                              <option value="{{ page }}" 
                                                              {% if data.page == page  %}
                                                              selected
                                                              {% endif %}
                                                              >&nbsp&nbsp{{ page }}</option>
                                                              {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>   
                                                </div>
       


                                                <li><a href="javascript:;"  class="next_page"><i class="am-icon-arrow-right"></i></a></li>
                                                <li ><a href="javascript:;" class="last_page"><i class="am-icon-step-forward"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>

    <script>
    var btns = document.querySelectorAll('button');
    var clipboard = new Clipboard(btns);

    clipboard.on('success', function(e) {
      console.log(e);
      $('#my-prompt').modal('close');
      $("#msgtips").html('复制成功,快去粘贴吧!');  
      $('#my-alert').modal('open');
    });

    clipboard.on('error', function(e) {
        $("#msgtips").html('复制失败,请手工复制!');  
        $('#my-alert').modal('open'); 
        console.log(e);
    });



    var background_color = $("#background").css("background-color"); 
    $(".changebackground").css("background-color",background_color);

    $(".choice-env-zzb").css("background-color","white");
    $(".choice-env-zzb").css("border-color","#d9d9d9");
    $(".choice-env-test").css("background-color","white");
    $(".choice-env-test").css("border-color","#d9d9d9");
    $(".choice-env-dev").css("background-color","white");
    $(".choice-env-dev").css("border-color","#d9d9d9");
    $('.choice-env-com').css("background-color","#D8EBFF");
    $('.choice-env-com').css("border-color","#71A9E0");      


    $(function() {
      var $selected = $('#js-selected');
      $selected.on('change', function() {
        var button_display = $(this).find('option').eq(this.selectedIndex).text();
        var button_value = $(this).val();
        var limit = $("#limit").val();
        var search = $("#search").val();
        var env = $("#env-selected").val();
        offset = ( button_value - 1  ) * limit ;
        if (search != 'False'){
            location.href = "pre_deploy_manage_com?offset="+offset+"&page="+button_value+"&limit="+limit+"&search="+search;
        }else{
            location.href = "pre_deploy_manage_com?offset="+offset+"&page="+button_value+"&limit="+limit;
        }
      });


      $(".choice-env-com").click(function(){ 
        $(".choice-env-zzb").css("background-color","white");
        $(".choice-env-zzb").css("border-color","#d9d9d9");
        $(".choice-env-test").css("background-color","white");
        $(".choice-env-test").css("border-color","#d9d9d9");
        $(".choice-env-dev").css("background-color","white");
        $(".choice-env-dev").css("border-color","#d9d9d9");
        $(this).css("background-color","#D8EBFF");
        $(this).css("border-color","#71A9E0");
        location.href="pre_deploy_manage_com";
      })

      $(".choice-env-zzb").click(function(){ 
        $(".choice-env-com").css("background-color","white");
        $(".choice-env-com").css("border-color","#d9d9d9");
        $(".choice-env-test").css("background-color","white");
        $(".choice-env-test").css("border-color","#d9d9d9");
        $(".choice-env-dev").css("background-color","white");
        $(".choice-env-dev").css("border-color","#d9d9d9");
        $(this).css("background-color","#D8EBFF");
        $(this).css("border-color","#71A9E0");
        location.href="pre_deploy_manage";
      })  

      $(".choice-env-test").click(function(){ 
        $(".choice-env-com").css("background-color","white");
        $(".choice-env-com").css("border-color","#d9d9d9");
        $(".choice-env-zzb").css("background-color","white");
        $(".choice-env-zzb").css("border-color","#d9d9d9");
        $(".choice-env-dev").css("background-color","white");
        $(".choice-env-dev").css("border-color","#d9d9d9");
        $(this).css("background-color","#D8EBFF");
        $(this).css("border-color","#71A9E0");
      }) 

      $(".choice-env-dev").click(function(){ 
        $(".choice-env-com").css("background-color","white");
        $(".choice-env-com").css("border-color","#d9d9d9");
        $(".choice-env-test").css("background-color","white");
        $(".choice-env-test").css("border-color","#d9d9d9");
        $(".choice-env-zzb").css("background-color","white");
        $(".choice-env-zzb").css("border-color","#d9d9d9");
        $(this).css("background-color","#D8EBFF");
        $(this).css("border-color","#71A9E0");
      })  

    
    $("#set-fileds").click(function(){ 
      var obj_th = $(".th-title");//选择所有name="th-title"的对象，返回数组
      var s='';//如果这样定义var s;变量s中会默认被赋个null值
      var tharr = new Array();
      for(var i=0;i<obj_th.length;i++){
        tharr.push($.trim($(obj_th[i]).text()));
      }
      console.log(tharr);

      var obj = document.getElementsByName("checkfield");//选择所有name="checkfield"的对象，返回数组
      var s='';//如果这样定义var s;变量s中会默认被赋个null值
      var no_math_arr = new Array();
      var commetarr = new Array();
      for(var i=0;i<obj.length;i++){
        // console.log($.trim($(obj[i]).attr("commet")));
        if ($.inArray($.trim($(obj[i]).attr("commet")), tharr) != -1 ) {
          $(obj[i]).uCheck('check');
        }else{
          no_math_arr.push($.trim($(obj[i]).attr("commet")));
        }
      }

      if ( no_math_arr.length + obj_th.length != obj.length  ) {
        console.log("还有字段未被对应,请检查列表名称和表格名称是否正确,默认需要显示字段:"+tharr+"未被显示的字段:"+no_math_arr);
      }
      $('#set-filed').modal('open');
    });

    
    $("#set-filed-sure").click(function(){ 
      var obj = document.getElementsByName("checkfield");//选择所有name="checkfield"的对象，返回数组
      var s='';//如果这样定义var s;变量s中会默认被赋个null值
      var checkarr = new Array();
      var commetarr = new Array();
      for(var i=0;i<obj.length;i++){
        if(obj[i].checked) //取到对象数组后，我们来循环检测它是不是被选中
          if (obj[i].value !== '') {
                s+=obj[i].value+',';   //如果选中，将value添加到变量s中
                checkarr.push(obj[i].value);
                commetarr.push($.trim($(obj[i]).attr("commet")));
              };               
            }
      if ( checkarr.length == 0 ) {
            $("#msgtips").html('自定义字段不能为空!');  
            $('#my-alert').modal('open'); 
            return;   
      }
      console.log(checkarr);
      console.log(commetarr);


      var $selected = $('#js-selected');
      var select_value = $selected.val();
      var limit = $("#limit").val();
      var search = $("#search").val();
      var env = $("#env-selected").val();
      if (search != 'False'){
      location.href = "pre_deploy_manage_com?offset="+0+"&page="+1+"&limit="+limit+"&search="+search+"&fields="+checkarr+"&filedcns="+commetarr;
      }else{
      location.href = "pre_deploy_manage_com?offset="+0+"&page="+1+"&limit="+limit+"&fields="+checkarr+"&filedcns="+commetarr;
      } 

    });


    $('.pre_page').click(function () {
        var $selected = $('#js-selected');
        var select_value = $selected.val();
        var limit = $("#limit").val();
        var search = $("#search").val();
        var env = $("#env-selected").val();
        page = parseInt(select_value) - 1 ;
        offset = ( page - 1  ) * limit ;
        if (page > 1){
            if (search != 'False'){
            location.href = "pre_deploy_manage_com?offset="+offset+"&page="+page+"&limit="+limit+"&search="+search;
            }else{
            location.href = "pre_deploy_manage_com?offset="+offset+"&page="+page+"&limit="+limit;    
            }       
        }else{
            if (search != 'False'){
            location.href = "pre_deploy_manage_com?offset="+0+"&page="+1+"&limit="+limit+"&search="+search;
            }else{
            location.href = "pre_deploy_manage_com?offset="+0+"&page="+1+"&limit="+limit;    
            }   
        }

    });

    $('.first_page').click(function () {
        var $selected = $('#js-selected');
        var select_value = $selected.val();
        var limit = $("#limit").val();
        var search = $("#search").val();
        var env = $("#env-selected").val();
        if (search != 'False'){
        location.href = "pre_deploy_manage_com?offset="+0+"&page="+1+"&limit="+limit+"&search="+search;
        }else{
        location.href = "pre_deploy_manage_com?offset="+0+"&page="+1+"&limit="+limit;
        }   
    });

    $('.next_page').click(function () {
        var $selected = $('#js-selected');
        var select_value = $selected.val();
        var limit = $("#limit").val();
        var pages = $("#pages").val();
        var search = $("#search").val();
        var env = $("#env-selected").val();
        max_page = pages - 1 ;
        page = ( parseInt(select_value) + 1) ;
        offset = ( page - 1  ) * limit ;
        if (page < max_page){
            if (search != 'False'){
            location.href = "pre_deploy_manage_com?offset="+offset+"&page="+page+"&limit="+limit+"&search="+search;
            }else{
            location.href = "pre_deploy_manage_com?offset="+offset+"&page="+page+"&limit="+limit; 
            }        
        }else{
            offset = ( max_page - 1  ) * limit ;
            if (search != 'False'){
            location.href = "pre_deploy_manage_com?offset="+offset+"&page="+max_page+"&limit="+limit+"&search="+search;
            }else{
            location.href = "pre_deploy_manage_com?offset="+offset+"&page="+max_page+"&limit="+limit;  
            }   
        }

    });

    $('.last_page').click(function () {
        var $selected = $('#js-selected');
        var select_value = $selected.val();
        var limit = $("#limit").val();
        var pages = $("#pages").val();
        var search = $("#search").val();
        var env = $("#env-selected").val();
        page = pages - 1 ;
        offset = ( page - 1  ) * limit ;
        if (page > 1){
            if (search != 'False'){
            location.href = "pre_deploy_manage_com?offset="+offset+"&page="+page+"&limit="+limit+"&search="+search;
            }else{
            location.href = "pre_deploy_manage_com?offset="+offset+"&page="+page+"&limit="+limit;
            }       
        }else{
            if (search != 'False'){
            location.href = "pre_deploy_manage_com?offset="+0+"&page="+1+"&limit="+limit+"&search="+search;
            }else{
            location.href = "pre_deploy_manage_com?offset="+0+"&page="+1+"&limit="+limit;
            }   
        } 
    });

    $('#searchbtn').click(function () {
        var $selected = $('#js-selected');
        var select_value = $selected.val();
        var limit = $("#limit").val();
        var search = $("#searchval").val();
        var env = $("#env-selected").val();
        if (search != 'False'){
        location.href = "pre_deploy_manage_com?offset="+0+"&page="+1+"&limit="+limit+"&search="+search;
        }else{
        location.href = "pre_deploy_manage_com?offset="+0+"&page="+1+"&limit="+limit;   
        }   
    });


    $('#host-create').click(function () {
        location.href="pre_deploy_manage_com_create";  
    });


    //删除选中的值
    $("#delete").click(function(){ 
        var obj = document.getElementsByName("checkbox");//选择所有name="checked"的对象，返回数组
        var s='';//如果这样定义var s;变量s中会默认被赋个null值
        var checkarr = new Array();
        for(var i=0;i<obj.length;i++){
            if(obj[i].checked) //取到对象数组后，我们来循环检测它是不是被选中
                if (obj[i].value !== '') {
                    s+=parseInt(obj[i].value)+',';   //如果选中，将value添加到变量s中
                    checkarr.push(obj[i].value);
                };               
        }
        if ( checkarr.length == 0 ) {
                $("#msgtips").html('没有选中任何记录,请重新选择!');  
                $('#my-alert').modal('open');
                return ;        
        } 

        function reload(){
         location.reload();
        }
     

        $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function(options) {
                $.ajax({
                 type: "POST",
                 url: "/api/pre_deploy_manage_com/delete",
                 cache: false,
                 data: {'ids':s},
                 dataType: "json",
                 success: function(res){
                    console.log(res);

                    if ( res.rc == 1 ) {
                        $("#msgtips").html('删除成功!');  
                        $('#my-alert').modal('open');
                         location.reload();
                    }else{
                        $("#msgtips").html('删除失败!');  
                        $('#my-alert').modal('open');       
                    }

                },
                error:function(){     
                    $("#msgtips").html('删除失败!');  
                    $('#my-alert').modal('open');     
                } 
            });

            },
            // closeOnConfirm: false,
          //   onCancel: function() {
          //     alert('算求，不弄了');
          // }
      });
        
    }); 

    //删除单个
    $(".delete-one").click(function(){ 
        var id = $(this).attr("value");
        var dename = $(this).attr("dename");
        if ( id == "" ) {
            $("#msgtips").html('获取id失败!');  
            $('#my-alert').modal('open');
            return;
        }
        $('.am-modal-bd').html("确定要删除 [id为"+dename+"] 这条记录？");
         
        $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function(options) {
                $.ajax({
                 type: "POST",
                 url: "/api/pre_deploy_manage_com/delete",
                 cache: false,
                 data: {'ids':id},
                 dataType: "json",
                 success: function(res){
                    console.log(res);

                    if ( res.rc == 1 ) {
                        $("#msgtips").html('删除成功!');  
                        $('#my-alert').modal({
                          relatedTarget: this,
                          onConfirm: function(options) {
                             location.reload();
                          }
                        });
                    }else{
                        $("#msgtips").html('删除失败!');  
                        $('#my-alert').modal('open');       
                    }

                },
                error:function(){     
                    $("#msgtips").html('删除失败!');  
                    $('#my-alert').modal('open');     
                } 
            });

            },
            // closeOnConfirm: false,
          //   onCancel: function() {
          //     alert('算求，不弄了');
          // }
      });
        
    }); 


    //修改选中的值
    $(".checkbox").click(function(){ 
        var obj = document.getElementsByName("checkbox");//选择所有name="checked"的对象，返回数组
        var s='';//如果这样定义var s;变量s中会默认被赋个null值
        var checkarr = new Array();
        for(var i=0;i<obj.length;i++){
            if(obj[i].checked) //取到对象数组后，我们来循环检测它是不是被选中
                if (obj[i].value !== '') {
                    s+=obj[i].value+',';   //如果选中，将value添加到变量s中
                    checkarr.push(obj[i].value);
                };               
        }
        $('.have_choice').html("已选"+checkarr.length+"项");
        $('.am-modal-bd').html("确定要删除选中的"+checkarr.length+"条记录？");
    });         

    //全选和反选
    $("#SelectAll").click( 
    function(){ 
      if(this.checked){ 
        $("input[name='checkbox']").each(function(){this.checked=true;}); 
      }else{ 
        $("input[name='checkbox']").each(function(){this.checked=false;}); 
      } 
    });



    });

    </script>


    {% endblock %}
    